body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  padding: 15px 60px;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}
.bg{
    top: 0;
    width: 100%;
    height: fit-content;
    position: relative;
}
.bgs{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand-text h1 {
  color: #f4b400;
  font-size: 36px;
  margin: 0;
}

.brand-text p {
  color: #ddd;
  font-size: 18px;
  margin: 5px 0 0 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 1s;
}

.nav-links a:hover {
    font-size: 20px;
    color: red;
}
li{
  transition: 0.5s;
}
li:hover{
  rotate: 3deg;
}

.chimera, p {
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(90deg, magenta, yellow, magenta, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
  background-size: 300%;
  animation: shine 4s linear infinite, glow 2s ease-in-out infinite alternate;

}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* p{
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(90deg, #f9f871, #f4b400, #f28500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(255, 200, 0, 0.6);
  animation: glow 2s ease-in-out infinite alternate;
} */

@keyframes glow {
  from {
    text-shadow: 0 0 10px #f4b400, 0 0 20px #f4b400, 0 0 30px #f28500;
  }
  to {
    text-shadow: 0 0 30px #f9f871, 0 0 50px #f28500, 0 0 70px #f9f871;
  }
}

.social img{
  width: 50px;
  padding-inline: 10px;
  padding-top: 10px;
  transition: 0.3s;
}

.social img:hover{
  transform: scale(1.25);
}

html {
  scroll-behavior: smooth;
}